In [13]:
import tensorflow as tf
from tensorflow.keras import layers

In [14]:
import pickle as p
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
from sklearn.preprocessing import LabelEncoder

In [18]:
def to_df_data_p(pdataset_path, label):
    with open(pdataset_path, "rb") as file:
        data_dict = {"ResNet50" : p.load(file)}
    df = pd.DataFrame(data=data_dict)
    df.dropna(inplace=True)
    df["Label"] = [label for i in range(df.shape[0])]
    
    return df

In [ ]:
df_dog = to_df_data_p("dogs_datasets.p", "Dogs")

In [23]:
df_dog.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5017 entries, 0 to 5016
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ResNet50  5017 non-null   object
 1   Label     5017 non-null   object
dtypes: object(2)
memory usage: 117.6+ KB

In [24]:
df_cat = to_df_data_p("cats_datasets.p", "Cats")

In [25]:
df_cat

                                               ResNet50 Label
0     [0.009593412626581048, 0.0, 0.0045204054572140...  Cats
1     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  Cats
2     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  Cats
3     [0.0, 0.003843111530721432, 0.0, 0.0, 0.0, 0.0...  Cats
4     [0.0, 0.0, 0.0, 0.003371714725279531, 0.0, 0.0...  Cats
...                                                 ...   ...
5006  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  Cats
5007  [0.0, 0.0, 0.0, 0.010207850577404665, 0.0, 0.0...  Cats
5008  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  Cats
5009  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0024008631617...  Cats
5010  [0.0, 0.0027991985895462522, 0.0, 0.0, 0.0, 0....  Cats

[5011 rows x 2 columns]

In [26]:
df_unshuffled = df_dog.append(df_cat)
df_unshuffled

                                               ResNet50 Label
0     [0.0, 0.0, 0.0, 0.0005277221405947443, 0.0, 0....  Dogs
1     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  Dogs
2     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  Dogs
3     [0.0, 0.0, 0.0, 0.005319274882568527, 0.0, 0.0...  Dogs
4     [0.0, 0.0, 0.0, 0.005244524803316583, 0.0, 0.0...  Dogs
...                                                 ...   ...
5006  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  Cats
5007  [0.0, 0.0, 0.0, 0.010207850577404665, 0.0, 0.0...  Cats
5008  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  Cats
5009  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0024008631617...  Cats
5010  [0.0, 0.0027991985895462522, 0.0, 0.0, 0.0, 0....  Cats

[10028 rows x 2 columns]

In [27]:
train_set = df_unshuffled.sample(frac=1)
train_set

                                               ResNet50 Label
2562  [0.0, 0.0, 0.0, 0.005602303620727784, 0.0, 0.0...  Cats
2183  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  Dogs
4330  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.000...  Dogs
2756  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0058945484268...  Dogs
4700  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  Dogs
...                                                 ...   ...
4932  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0048344152121...  Cats
4694  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  Cats
4483  [0.0, 0.0, 0.001740520344749655, 0.0, 0.0, 0.0...  Dogs
287   [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.000...  Dogs
2814  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  Dogs

[10028 rows x 2 columns]

In [28]:
train_set = train_set.reset_index()
train_set
# train_set["MobileNet"] = train_set["MobileNet"].astype(np.array)

       index                                           ResNet50 Label
0       2562  [0.0, 0.0, 0.0, 0.005602303620727784, 0.0, 0.0...  Cats
1       2183  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  Dogs
2       4330  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.000...  Dogs
3       2756  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0058945484268...  Dogs
4       4700  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  Dogs
...      ...                                                ...   ...
10023   4932  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0048344152121...  Cats
10024   4694  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  Cats
10025   4483  [0.0, 0.0, 0.001740520344749655, 0.0, 0.0, 0.0...  Dogs
10026    287  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.000...  Dogs
10027   2814  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  Dogs

[10028 rows x 3 columns]

In [30]:
train_cats_dogs.to_csv("train_cats vs dogs_ResNet50.csv")

In [29]:
train_cats_dogs = train_set.reset_index().drop(["index","level_0"], axis=1)
train_cats_dogs.info()
with open("datasets.p", "wb") as file:
    p.dump(train_cats_dogs, file)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10028 entries, 0 to 10027
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ResNet50  10028 non-null  object
 1   Label     10028 non-null  object
dtypes: object(2)
memory usage: 156.8+ KB

In [15]:
tf.data.Dataset.from_tensor_slices((np.vstack(train_cats_dogs["MobileNet"].values), train_cats_dogs["Label"].values))

In [17]:
tf.convert_to_tensor(np.vstack(train_cats_dogs["MobileNet"].values), dtype=tf.float64)

<tf.Tensor: shape=(10028, 100352), dtype=float64, numpy=
array([[0.        , 0.        , 0.        , ..., 0.00026128, 0.        ,
        0.0087525 ],
       [0.        , 0.        , 0.        , ..., 0.00263426, 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.00967014, 0.00011301,
        0.        ]])>

In [19]:
with open("tf_data.p", "wb") as file:
    p.dump(tf_data, file)

NameError: name 'tf_data' is not defined

In [21]:
for feat, targ in tf_data.take(2):
  print ('Features: {}, Target: {}'.format(feat, targ))

NameError: name 'tf_data' is not defined